<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People View</title>
    <style>
        table.myTable {
  font-family: "Times New Roman",Times,serif;
  border: 1px solid #FFFFFF;
  background-color: #EEEEEE;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-radius: 20px;
  overflow: auto;
  overflow-x: hidden;
}
table.myTable td, table.myTable th {
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  padding: 3px 2px;
}
table.myTable tbody td {
  font-size: 20px;
}
table.myTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.myTable tfoot td {
  font-size: 14px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 20px;
}

#div2 {
  height: 500px;
  width: 50%;
  padding: 0;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
}

#div1 {
  align: center;
  width: 50%;
  padding: 0;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
}

    </style>
</head>

<body bgcolor="#D0E4F5">
<center>

    <div id="div1">
        <table class="myTable" align="center">
            <tr>
                <td colspan="3">
                    <h3 align="center">Филтриране по име и/или фамилия</h3>
                </td>
            </tr>
            <tr>
                <form action="/people" method="get">
                    <td><input type="text" name="firstName" placeholder="Име"/></td>
                    <td><input type="text" width="100%" name="lastName" placeholder="Фамилия"/></td>
                    <td><input type="submit" value="Филтър"/></td>
                </form>
            </tr>
        </table>
    </div>

    <div id="div2">
        <table class="myTable" align="center">
            <tr th:each="person : ${people}">
                <td colspan="3">
                    <a th:href="@{/people/{id}(id=${person.id})}"
                       th:text="|${person.firstName} ${person.lastName}|" colspan="3"></a>
                </td>
            </tr>
        </table>
    </div>

</center>

</body>
</html>