<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person Details</title>
    <style>
        table.myTable {
  font-family: "Times New Roman",Times,serif;
  border: 1px solid #FFFFFF;
  background-color: #EEEEEE;
  text-align: center;
  border-collapse: collapse;
  border-radius: 20px;
}
table.myTable td, table.myTable th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
  border-radius: 20px;
}
table.myTable tbody td {
  font-size: 20px;
}
table.myTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.myTable tfoot td {
  font-size: 14px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 20px;
}





    </style>
</head>
<body bgcolor="#D0E4F5">

<h3 align="center" border="2">Лични данни</h3>

<table class="myTable" align="center">
    <tr>
        <td>
            <a th:href="@{/people}"><input type="submit" value="Назад"/></a>
        </td>
    </tr>
    <tr>
        <td>Име</td>
        <td th:text="|${person.firstName} ${person.lastName}|"></td>
    </tr>
    <tr>
        <td>Пол</td>
        <td th:text="|${person.gender}|"></td>
    </tr>
    <tr>
        <td>Рождена дата</td>
        <td th:text="|${person.birthday}|"></td>
    </tr>
    <tr>
        <td>Височина</td>
        <td th:text="|${person.height} см.|"></td>
    </tr>
    <tr>
        <td rowspan="3">Адрес</td>
        <td th:text="|${person.streetNumber} ${person.streetName}|"></td>
    </tr>
    <tr>
        <td th:text="|${person.postCode} ${person.municipality}|"></td>
    </tr>
    <tr>
        <td th:text="|${person.city}, ${person.country}|"></td>
    </tr>
    <tr>
        <td>Проверка</td>
            <form th:action="@{/people/{id}(id=${person.id})}" method="get">
        <td th:if="${param.press}"
            th:text="${person.getSocialAidAmount().orElse('Няма право на социални помощи!')}"></td>
        <td th:unless="${param.press}">
            <input type="submit" name="press" value="Стойност на социални помощи"/>
        </td>
        </form>

    </tr>
</table>

<h3 align="center">Образование</h3>

<p th:if="${person.educations.isEmpty()}" align="center">Няма информация за образование!</p>

<table th:unless="${person.educations.isEmpty()}" align="center" class="myTable">


    <tr>
        <th>Вид</th>
        <th>Институция</th>
        <th>Дата на започване</th>
        <th>Дата на завършване</th>
    </tr>

    <tr th:each="education : ${sortedEducations}">
        <td th:text="|${education.getClass().getSimpleName()}|"></td>
        <td th:text="|${education.institutionName}|"></td>
        <td th:text="|${education.enrollmentDate}|"></td>
        <td th:if="|${education.graduationDate.getYear() > 2019}|"
            th:text="|${education.graduationDate} (очаквана дата)|"></td>
        <td th:unless="|${education.graduationDate.getYear() > 2019}|"
            th:text="|${education.graduationDate}|"></td>
    </tr>
</table>

<h3 align="center">Социални осигуровки</h3>

<table align="center" class="myTable">
    <form th:action="@{/people/{id}(id=${person.id})}" method="post">
        <tr>
            <td>Добави осигуровка</td>
            <td><input type="text" name="year" placeholder="Година"></td>
            <td><input type="text" name="month" placeholder="Месец"></td>
            <td><input type="text" name="amount" placeholder="Сума"></td>
            <td><input type="submit" value="Добави"/></td>
        </tr>
    </form>
</table>

<p th:if="${person.socialInsuranceRecords.isEmpty()}" align="center">Няма информация за социални осигуровки!</p>

<table th:unless="${person.socialInsuranceRecords.isEmpty()}" class="myTable" align="center" width="700">

    <tr>
        <th>Година</th>
        <th>Месец</th>
        <th>Сума</th>
    </tr>

    <tr th:each="record : ${sortedInsuranceRecords}">
        <td th:text="|${record.yearMonth.getYear()}|"></td>
        <td th:text="|${record.yearMonth.getMonthValue()}|"></td>
        <td th:text="|${record.amount}|"></td>
    </tr>
</table>


</body>
</html>